body{
    
    
    height: 100vh;
}

h1, h3{
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

/*Grid layout*/
main{
  background-image: url(../imgs/cenario-pokemon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 50px;
  
}

header{
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: 0 0 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;  
  }

  @media screen and (max-width:600px) {
    .grid{
       grid-template-columns: repeat(4, 1fr);
       width: 80%;
             
    }
   
    
  }
  
  .card {
    aspect-ratio: 4/4;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
  }
  
  .face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: all 500ms ease;
  }
  
  .front {
    transform: rotateY(180deg);
  }
  
  .back {
    background-image: url('../imgs/poster-pokemon.webp');
    backface-visibility: hidden;
    box-shadow: 5px 5px 5px 2px ;
  }

  .reveal-card{
    transform: rotateY(180deg);
  }

  .disabled-card{
    filter: saturate(0);
    opacity: 0.5;
  }

  /*Footer*/

  footer > p{
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
  }
  
  
  